version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db_system
    environment:
      POSTGRES_DB: users_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ./backend
    container_name: go_user_api_system
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./frontend/GoUserWeb
    container_name: go_user_frontend_system
    ports:
      - "5103:80"
    depends_on:
      - api

volumes:
  postgres_data:
