version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db_system
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: users_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: go_user_api_system
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8080:8080"

volumes:
  postgres_data:
